<h2>Home</h2>

    <p class="text-justify text-center col-lg-offset-10">
        @Html.ActionLink("Logout", "Index", "Home", null, new { @class = "btn btn-primary" })
    <p/>


<div class="row top-buffer">
        <ul class="nav nav-tabs">
            <li>@Html.ActionLink("Add Product", "SaveProduct")</li>
            
        </ul>     
    </div>